<!-- Área: Comportamento -->

<section class="example-section" [formGroup]="formulario_aspectos">
    <div class="content-area">

        <div class="contents-aspectos" formGroupName="C1">
            <mat-checkbox class="example-margin" formControlName="aspecto16">
                {{formulario_aspectos.get('C1.nome')?.value}}</mat-checkbox>
            <mat-form-field class="example-full-width" appearance="fill"
                *ngIf="formulario_aspectos.get('C1.aspecto16')?.value">
                <mat-label>Descrição:</mat-label>
                <textarea matInput formControlName="descricao"></textarea>
            </mat-form-field>
        </div>

        <div class="contents-aspectos" formGroupName="C2">
            <mat-checkbox class="example-margin" formControlName="aspecto17">
                {{formulario_aspectos.get('C2.nome')?.value}}</mat-checkbox>
            <mat-form-field class="example-full-width" appearance="fill"
                *ngIf="formulario_aspectos.get('C2.aspecto17')?.value">
                <mat-label>Descrição:</mat-label>
                <textarea matInput formControlName="descricao"></textarea>
            </mat-form-field>
        </div>

        <div class="contents-aspectos" formGroupName="C3">
            <mat-checkbox class="example-margin" formControlName="aspecto18">
                {{formulario_aspectos.get('C3.nome')?.value}}</mat-checkbox>
            <mat-form-field class="example-full-width" appearance="fill"
                *ngIf="formulario_aspectos.get('C3.aspecto18')?.value">
                <mat-label>Descrição:</mat-label>
                <textarea matInput formControlName="descricao"></textarea>
            </mat-form-field>
        </div>

        <div class="contents-aspectos" formGroupName="C4">
            <mat-checkbox class="example-margin" formControlName="aspecto19">
                {{formulario_aspectos.get('C4.nome')?.value}}</mat-checkbox>
            <mat-form-field class="example-full-width" appearance="fill"
                *ngIf="formulario_aspectos.get('C4.aspecto19')?.value">
                <mat-label>Descrição:</mat-label>
                <textarea matInput formControlName="descricao"></textarea>
            </mat-form-field>
        </div>

        <div class="contents-aspectos" formGroupName="C5">
            <mat-checkbox class="example-margin" formControlName="aspecto20">
                {{formulario_aspectos.get('C5.nome')?.value}}</mat-checkbox>
            <mat-form-field class="example-full-width" appearance="fill"
                *ngIf="formulario_aspectos.get('C5.aspecto20')?.value">
                <mat-label>Descrição:</mat-label>
                <textarea matInput formControlName="descricao"></textarea>
            </mat-form-field>
        </div>

        <div class="contents-aspectos" formGroupName="C6">
            <mat-checkbox class="example-margin" formControlName="aspecto21">
                {{formulario_aspectos.get('C6.nome')?.value}}</mat-checkbox>
            <mat-form-field class="example-full-width" appearance="fill"
                *ngIf="formulario_aspectos.get('C6.aspecto21')?.value">
                <mat-label>Descrição:</mat-label>
                <textarea matInput formControlName="descricao"></textarea>
            </mat-form-field>
        </div>

        <div class="contents-aspectos" formGroupName="C7">
            <mat-checkbox class="example-margin" formControlName="aspecto22">
                {{formulario_aspectos.get('C7.nome')?.value}}</mat-checkbox>
            <mat-form-field class="example-full-width" appearance="fill"
                *ngIf="formulario_aspectos.get('C7.aspecto22')?.value">
                <mat-label>Descrição:</mat-label>
                <textarea matInput formControlName="descricao"></textarea>
            </mat-form-field>
        </div>

        <div class="contents-aspectos" formGroupName="C8">
            <mat-checkbox class="example-margin" formControlName="aspecto23">
                {{formulario_aspectos.get('C8.nome')?.value}}</mat-checkbox>
            <mat-form-field class="example-full-width" appearance="fill"
                *ngIf="formulario_aspectos.get('C8.aspecto23')?.value">
                <mat-label>Descrição:</mat-label>
                <textarea matInput formControlName="descricao"></textarea>
            </mat-form-field>
        </div>

        <div class="contents-aspectos" formGroupName="C9">
            <mat-checkbox class="example-margin" formControlName="aspecto24">
                {{formulario_aspectos.get('C10.nome')?.value}}</mat-checkbox>
            <mat-form-field class="example-full-width" appearance="fill"
                *ngIf="formulario_aspectos.get('C9.aspecto24')?.value">
                <mat-label>Descrição:</mat-label>
                <textarea matInput formControlName="descricao"></textarea>
            </mat-form-field>
        </div>

        <div class="contents-aspectos" formGroupName="C10">
            <mat-checkbox class="example-margin" formControlName="aspecto25">
                {{formulario_aspectos.get('C10.nome')?.value}}</mat-checkbox>
            <mat-form-field class="example-full-width" appearance="fill"
                *ngIf="formulario_aspectos.get('C10.aspecto25')?.value">
                <mat-label>Descrição:</mat-label>
                <textarea matInput formControlName="descricao"></textarea>
            </mat-form-field>
        </div>

        <div class="contents-aspectos" formGroupName="C11">
            <mat-checkbox class="example-margin" formControlName="aspecto26">
                {{formulario_aspectos.get('C11.nome')?.value}}</mat-checkbox>
            <mat-form-field class="example-full-width" appearance="fill"
                *ngIf="formulario_aspectos.get('C11.aspecto26')?.value">
                <mat-label>Descrição:</mat-label>
                <textarea matInput formControlName="descricao"></textarea>
            </mat-form-field>
        </div>

        <div class="contents-aspectos" formGroupName="C12">
            <mat-checkbox class="example-margin" formControlName="aspecto27">
                {{formulario_aspectos.get('C12.nome')?.value}}</mat-checkbox>
            <mat-form-field class="example-full-width" appearance="fill"
                *ngIf="formulario_aspectos.get('C12.aspecto27')?.value">
                <mat-label>Descrição:</mat-label>
                <textarea matInput formControlName="descricao"></textarea>
            </mat-form-field>
        </div>

        <div class="contents-aspectos" formGroupName="C13">
            <mat-checkbox class="example-margin" formControlName="aspecto28">
                {{formulario_aspectos.get('C13.nome')?.value}}</mat-checkbox>
            <mat-form-field class="example-full-width" appearance="fill"
                *ngIf="formulario_aspectos.get('C13.aspecto28')?.value">
                <mat-label>Descrição:</mat-label>
                <textarea matInput formControlName="descricao"></textarea>
            </mat-form-field>
        </div>

        <div class="contents-aspectos" formGroupName="C14">
            <mat-checkbox class="example-margin" formControlName="aspecto29">
                {{formulario_aspectos.get('C14.nome')?.value}}</mat-checkbox>
            <mat-form-field class="example-full-width" appearance="fill"
                *ngIf="formulario_aspectos.get('C14.aspecto29')?.value">
                <mat-label>Descrição:</mat-label>
                <textarea matInput formControlName="descricao"></textarea>
            </mat-form-field>
        </div>

        <div class="contents-aspectos" formGroupName="C15">
            <mat-checkbox class="example-margin" formControlName="aspecto30">
                {{formulario_aspectos.get('C15.nome')?.value}}</mat-checkbox>
            <mat-form-field class="example-full-width" appearance="fill"
                *ngIf="formulario_aspectos.get('C15.aspecto30')?.value">
                <mat-label>Descrição:</mat-label>
                <textarea matInput formControlName="descricao"></textarea>
            </mat-form-field>
        </div>

        <div class="contents-aspectos" formGroupName="C16">
            <mat-checkbox class="example-margin" formControlName="aspecto31">
                {{formulario_aspectos.get('C16.nome')?.value}}</mat-checkbox>
            <mat-form-field class="example-full-width" appearance="fill"
                *ngIf="formulario_aspectos.get('C16.aspecto31')?.value">
                <mat-label>Descrição:</mat-label>
                <textarea matInput formControlName="descricao"></textarea>
            </mat-form-field>
        </div>


        <div class="contents-aspectos" formGroupName="C17">
            <mat-checkbox class="example-margin" formControlName="aspecto32">
                {{formulario_aspectos.get('C17.nome')?.value}}</mat-checkbox>
            <mat-form-field class="example-full-width" appearance="fill"
                *ngIf="formulario_aspectos.get('C17.aspecto32')?.value">
                <mat-label>Descrição:</mat-label>
                <textarea matInput formControlName="descricao"></textarea>
            </mat-form-field>
        </div>


        <div class="contents-aspectos" formGroupName="C18">
            <mat-checkbox class="example-margin" formControlName="aspecto33">
                {{formulario_aspectos.get('C18.nome')?.value}}</mat-checkbox>
            <mat-form-field class="example-full-width" appearance="fill"
                *ngIf="formulario_aspectos.get('C18.aspecto33')?.value">
                <mat-label>Descrição:</mat-label>
                <textarea matInput formControlName="descricao"></textarea>
            </mat-form-field>
        </div>


        <div class="contents-aspectos" formGroupName="C19">
            <mat-checkbox class="example-margin" formControlName="aspecto34">
                {{formulario_aspectos.get('C19.nome')?.value}}</mat-checkbox>
            <mat-form-field class="example-full-width" appearance="fill"
                *ngIf="formulario_aspectos.get('C19.aspecto34')?.value">
                <mat-label>Descrição:</mat-label>
                <textarea matInput formControlName="descricao"></textarea>
            </mat-form-field>
        </div>


        <div class="contents-aspectos" formGroupName="C20">
            <mat-checkbox class="example-margin" formControlName="aspecto35">
                {{formulario_aspectos.get('C20.nome')?.value}}</mat-checkbox>
            <mat-form-field class="example-full-width" appearance="fill"
                *ngIf="formulario_aspectos.get('C20.aspecto35')?.value">
                <mat-label>Descrição:</mat-label>
                <textarea matInput formControlName="descricao"></textarea>
            </mat-form-field>
        </div>

        <div class="contents-aspectos" formGroupName="C21">
            <mat-checkbox class="example-margin" formControlName="aspecto36">
                {{formulario_aspectos.get('C21.nome')?.value}}</mat-checkbox>
            <mat-form-field class="example-full-width" appearance="fill"
                *ngIf="formulario_aspectos.get('C21.aspecto36')?.value">
                <mat-label>Descrição:</mat-label>
                <textarea matInput formControlName="descricao"></textarea>
            </mat-form-field>
        </div>

        <div class="contents-aspectos" formGroupName="C22">
            <mat-checkbox class="example-margin" formControlName="aspecto37">
                {{formulario_aspectos.get('C22.nome')?.value}}</mat-checkbox>
            <mat-form-field class="example-full-width" appearance="fill"
                *ngIf="formulario_aspectos.get('C22.aspecto37')?.value">
                <mat-label>Descrição:</mat-label>
                <textarea matInput formControlName="descricao"></textarea>
            </mat-form-field>
        </div>

        <div class="contents-aspectos" formGroupName="C23">
            <mat-checkbox class="example-margin" formControlName="aspecto38">
                {{formulario_aspectos.get('C23.nome')?.value}}</mat-checkbox>
            <mat-form-field class="example-full-width" appearance="fill"
                *ngIf="formulario_aspectos.get('C23.aspecto38')?.value">
                <mat-label>Descrição:</mat-label>
                <textarea matInput formControlName="descricao"></textarea>
            </mat-form-field>
        </div>

        <div class="contents-aspectos" formGroupName="C24">
            <mat-checkbox class="example-margin" formControlName="aspecto39">
                {{formulario_aspectos.get('C24.nome')?.value}}</mat-checkbox>
            <mat-form-field class="example-full-width" appearance="fill"
                *ngIf="formulario_aspectos.get('C24.aspecto39')?.value">
                <mat-label>Descrição:</mat-label>
                <textarea matInput formControlName="descricao"></textarea>
            </mat-form-field>
        </div>

        <div class="contents-aspectos" formGroupName="C25">
            <mat-checkbox class="example-margin" formControlName="aspecto40">
                {{formulario_aspectos.get('C25.nome')?.value}}</mat-checkbox>
            <mat-form-field class="example-full-width" appearance="fill"
                *ngIf="formulario_aspectos.get('C25.aspecto40')?.value">
                <mat-label>Descrição:</mat-label>
                <textarea matInput formControlName="descricao"></textarea>
            </mat-form-field>
        </div>

        <div class="contents-aspectos" formGroupName="C26">
            <mat-checkbox class="example-margin" formControlName="aspecto41">
                {{formulario_aspectos.get('C26.nome')?.value}}</mat-checkbox>
            <mat-form-field class="example-full-width" appearance="fill"
                *ngIf="formulario_aspectos.get('C26.aspecto41')?.value">
                <mat-label>Descrição:</mat-label>
                <textarea matInput formControlName="descricao"></textarea>
            </mat-form-field>
        </div>
    </div>
</section>