<!-- Área: Habilidades Motoras -->

<section class="example-section" [formGroup]="formulario_aspectos">
    <div class="content-area">
      <div class="contents-aspectos" formGroupName="HM1">
        <mat-checkbox class="example-margin" formControlName="aspecto49">{{formulario_aspectos.get('HM1.nome')?.value}}</mat-checkbox>
        <mat-form-field class="example-full-width" appearance="fill"
          *ngIf="formulario_aspectos.get('HM1.aspecto49')?.value">
          <mat-label>Descrição:</mat-label>
          <textarea matInput formControlName="descricao"></textarea>
        </mat-form-field>
      </div>

      <div class="contents-aspectos" formGroupName="HM2">
        <mat-checkbox class="example-margin" formControlName="aspecto50">
          {{formulario_aspectos.get('HM2.nome')?.value}}</mat-checkbox>
        <mat-form-field class="example-full-width" appearance="fill"
          *ngIf="formulario_aspectos.get('HM2.aspecto50')?.value">
          <mat-label>Descrição:</mat-label>
          <textarea matInput formControlName="descricao"></textarea>
        </mat-form-field>
      </div>
    </div>
  </section>
