<div class="content-1">
<form [formGroup]="formulario_programas_paciente">

        <mat-form-field appearance="fill" class="example-full-width componente-1-2">
            <mat-label class="font">Programas</mat-label>
            <mat-select formControlName="programa">
            <mat-option *ngFor="let programa of programas" [value]="programa.value">
                {{programa.viewValue}}
            </mat-option>
            </mat-select>
        </mat-form-field>

      <mat-form-field appearance="fill" class="example-full-width componente-1-2">
        <mat-label>Numero de tentativas</mat-label>
        <mat-select formControlName="numero_de_tentativas">
          <mat-option *ngFor="let topping of numbers" [value]="topping">{{
            topping
          }}</mat-option>
        </mat-select>
      </mat-form-field>

</form>

</div>
