<div class="container1">
  <div class="content">
    <div class="first-column">
      <h2 class="title">Bem Vindo</h2>

      <form class="form">
        <h4 class="subtitle">Login</h4>
        <label class="label-input" for="">
          <mat-icon>person</mat-icon>
          <input type="email" placeholder="CPF: 000.000.000-00" />
        </label>

        <h4 class="subtitle">Senha</h4>
        <label class="label-input" for="">
          <mat-icon matSuffix>lock</mat-icon>
          <input type="password" placeholder="*************" />
        </label>

        <a class="password" href="#">esqueci minha senha</a>
        <button class="btn" (click)="log_in()">Entrar</button>
      </form>
    </div>
    <div class="second-column">
      <h2 class="title title-second">Núcleo Evoluir</h2>
      <div class="img-card">
        <img src="../../../assets/logo.jpeg" alt="Image" width="200" />
      </div>
    </div>
  </div>
</div>
