<!-- Desenvolvimento Psicomotor -->

<form [formGroup]="formulario_desenvolvimento_psicomotor">
        
    <div class="perguntas" formGroupName="P13">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>{{formulario_desenvolvimento_psicomotor.get('P13.pergunta')?.value}}</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
    <div class="perguntas" formGroupName="P14">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>{{formulario_desenvolvimento_psicomotor.get('P13.pergunta')?.value}}</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
    <div class="perguntas" formGroupName="P15">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>{{formulario_desenvolvimento_psicomotor.get('P15.pergunta')?.value}}</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>

    <div class="perguntas" formGroupName="P16">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>{{formulario_desenvolvimento_psicomotor.get('P16.pergunta')?.value}}</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>

    <div class="perguntas" formGroupName="P17">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>{{formulario_desenvolvimento_psicomotor.get('P17.pergunta')?.value}}</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>

    <div class="perguntas" formGroupName="P18">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>{{formulario_desenvolvimento_psicomotor.get('P14.pergunta')?.value}}</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>



    <div class="bottom-btn">
      <button mat-button matStepperPrevious class="btn">Voltar</button>
    </div>
  </form>
