
.font{
    color: #878787;
}

.color{
    color: var(--color3);
}

.container{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 90vh;
    display: flex;
    background-color: #ecf0f1;
}

.content{
    width: 70%;
    height: 90vh;
    border: 1px solid var(--color2);
    margin-top: 2%;
    background-color: #fff;
}

.title{
    margin: 2% 0;
    margin-top: 30px;
    text-align: left !important;
}

.content-title{
    height: 27px;
    background-color: var(--color2);
    align-items: center;
}

.title-agendamento{
    margin: 0;
    font-size: 20px;
    color: #fff;
    text-align: center;
}

form{
    padding: 24px 24px 0px 24px !important;

}

.content-1{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.componente-1-2{
    width: 48% !important;
}

.input{
    border-radius: 4px 4px 0 0;
    padding: 0.75em 0.75em 0 0.75em;
    border: 0;
    background-color: #fff;
    align-items: center;
    border-bottom: 1px solid var(--color3);
}

.input:hover{
    border-bottom: 2px solid black;
}

.btn{
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 0px 50px;
    background-color: var(--color2);
    border: 2px solid var(--color2);
    cursor: pointer;
    font-weight: bold;
}

.btn:hover{
    background-color: #fff;
    color: var(--color1);
    border: 2px solid var(--color1);
}

.btn-adc{
    margin-bottom: 10px;
    background-color: var(--color3) !important;
    border: 2px solid var(--color3);
}

.btn-adc:hover{
    background-color: #fff !important;
    color: var(--color4) !important;
    border: 2px solid var(--color4) !important;

}
::ng-deep .mat-form-field{
    width: 100%;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: #fff;
    border-bottom: 3px solid var(--color3);
    padding: 2px 2px 0 2px !important;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex:focus{

    border-bottom: 2px solid var(--color3) !important;

}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix{
    padding: .25em 0 2px 0;
}
::ng-deep .mat-select-arrow{
    color: var(--color2);
}
::ng-deep .mat-icon-button{
    color: var(--color2);
}
::ng-deep .mat-horizontal-content-container{
    padding: 0 24px 0px 24px !important;
}
