<div class="w-full flex items-center justify-center flex-col">
  <app-header-subtitle subtitle="Agendamentos"></app-header-subtitle>

  <div class="w-[90%] flex flex-col justify-center bg-white rounded-lg p-4 boxShadow gap-3 mt-12">
    <div class="w-full flex items-center justify-end">
      <button class="button button-system" (click)="novoAgendamento()">Novo Agendamento</button>
    </div>
    <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="solicitante">
      <th mat-header-cell *matHeaderCellDef> Solicitante </th>
      <td mat-cell *matCellDef="let element"> {{element.solicitante}} </td>
    </ng-container>

    <ng-container matColumnDef="terapeuta">
      <th mat-header-cell *matHeaderCellDef> Terapeuta </th>
      <td mat-cell *matCellDef="let element"> {{element.terapeuta.nomeTerapeuta}}</td>
    </ng-container>

    <ng-container matColumnDef="especializacao">
      <th mat-header-cell *matHeaderCellDef> Especialização</th>
      <td mat-cell *matCellDef="let element"> {{element.terapeuta.especializacao}}</td>
    </ng-container>


    <ng-container matColumnDef="dataAgendamento">
      <th mat-header-cell *matHeaderCellDef> Data do Agendamento </th>
      <td mat-cell *matCellDef="let element"> {{ element.dataAgendamento | date : "dd/MM/yyyy" }} </td>
    </ng-container>
    

    <ng-container matColumnDef="horarioAgendamento">
      <th mat-header-cell *matHeaderCellDef> Horário </th>
      <td mat-cell *matCellDef="let element"> {{element.horarioAgendamento.horario}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon class="text-red-500 cursor-pointer" (click)="abrirModal(element.id)">delete</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [length]="length" [showFirstLastButtons]="true"></mat-paginator>
  </div>
</div>
