<form style="display: flex; flex-direction: column" [formGroup]="formulario_dificuldade_especifica">

    <div style="text-align: center;">
        <mat-label>Dificuldades Especificas</mat-label>
    </div>

    <div class="hab">
        <div class="cols">
            <div class="col-2">
                <div class="line-0-height">
                    <mat-label _ngcontent-cbd-c177="">{{formulario_dificuldade_especifica.get('DE1.nome')?.value}}
                    </mat-label>
                </div>
                <div class="line-0-height">
                    <mat-label _ngcontent-cbd-c177="">{{formulario_dificuldade_especifica.get('DE2.nome')?.value}}
                    </mat-label>
                </div>
                <div class="line-0-height">
                    <mat-label _ngcontent-cbd-c177="">{{formulario_dificuldade_especifica.get('DE3.nome')?.value}}
                    </mat-label>
                </div>
                <div class="line-0-height">
                    <mat-label _ngcontent-cbd-c177="">{{formulario_dificuldade_especifica.get('DE4.nome')?.value}}
                    </mat-label>
                </div>
                <div class="line-0-height">
                    <mat-label _ngcontent-cbd-c177="">{{formulario_dificuldade_especifica.get('DE5.nome')?.value}}
                    </mat-label>
                </div>
                <div class="line-0-height">
                    <mat-label _ngcontent-cbd-c177="">{{formulario_dificuldade_especifica.get('DE6.nome')?.value}}
                    </mat-label>
                </div>
                <div class="line-0-height">
                    <mat-label _ngcontent-cbd-c177="">{{formulario_dificuldade_especifica.get('DE7.nome')?.value}}
                    </mat-label>
                </div>
                <div class="line-0-height">
                    <mat-label _ngcontent-cbd-c177="">{{formulario_dificuldade_especifica.get('DE8.nome')?.value}}
                    </mat-label>
                </div>
                <div class="line-0-height">
                    <mat-label _ngcontent-cbd-c177="">{{formulario_dificuldade_especifica.get('DE9.nome')?.value}}
                    </mat-label>
                </div>
                <div class="line-0-height">
                    <mat-label _ngcontent-cbd-c177="">{{formulario_dificuldade_especifica.get('DE10.nome')?.value}}
                    </mat-label>
                </div>
                <div class="line-0-height">
                    <mat-label _ngcontent-cbd-c177="">{{formulario_dificuldade_especifica.get('DE11.nome')?.value}}
                    </mat-label>
                </div>
                <div class="line-0-height">
                    <mat-label _ngcontent-cbd-c177="">{{formulario_dificuldade_especifica.get('DE12.nome')?.value}}
                    </mat-label>
                </div>
                <div class="line-0-height">
                    <mat-label _ngcontent-cbd-c177="">{{formulario_dificuldade_especifica.get('DE13.nome')?.value}}
                    </mat-label>
                </div>
                <div class="line-0-height">
                    <mat-label _ngcontent-cbd-c177="">{{formulario_dificuldade_especifica.get('DE14.nome')?.value}}
                    </mat-label>
                </div>
                <div class="line-0-height">
                    <mat-label _ngcontent-cbd-c177="">{{formulario_dificuldade_especifica.get('DE15.nome')?.value}}
                    </mat-label>
                </div>
            </div>

            <div class="col-3">
                <mat-radio-group aria-label="Select an option">
                    <div class="lines">
                        <div class="col-0-height">
                            <mat-radio-button value="1"></mat-radio-button>
                        </div>
                    </div>
                </mat-radio-group>
                <mat-radio-group aria-label="Select an option">
                    <div class="lines">
                        <div class="col-0-height">
                            <mat-radio-button value="2"></mat-radio-button>
                        </div>
                    </div>
                </mat-radio-group>
                <mat-radio-group aria-label="Select an option">
                    <div class="lines">
                        <div class="col-0-height">
                            <mat-radio-button value="3"></mat-radio-button>
                        </div>
                    </div>
                </mat-radio-group>
                <mat-radio-group aria-label="Select an option">
                    <div class="lines">
                        <div class="col-0-height">
                            <mat-radio-button value="4"></mat-radio-button>
                        </div>
                    </div>
                </mat-radio-group>
                <mat-radio-group aria-label="Select an option">
                    <div class="lines">
                        <div class="col-0-height">
                            <mat-radio-button value="5"></mat-radio-button>
                        </div>
                    </div>
                </mat-radio-group>
                <mat-radio-group aria-label="Select an option">
                    <div class="lines">
                        <div class="col-0-height">
                            <mat-radio-button value="6"></mat-radio-button>
                        </div>
                    </div>
                </mat-radio-group>
                <mat-radio-group aria-label="Select an option">
                    <div class="lines">
                        <div class="col-0-height">
                            <mat-radio-button value="7"></mat-radio-button>
                        </div>
                    </div>
                </mat-radio-group>
                <mat-radio-group aria-label="Select an option">
                    <div class="lines">
                        <div class="col-0-height">
                            <mat-radio-button value="8"></mat-radio-button>
                        </div>
                    </div>
                </mat-radio-group>
                <mat-radio-group aria-label="Select an option">
                    <div class="lines">
                        <div class="col-0-height">
                            <mat-radio-button value="9"></mat-radio-button>
                        </div>
                    </div>
                </mat-radio-group>
                <mat-radio-group aria-label="Select an option">
                    <div class="lines">
                        <div class="col-0-height">
                            <mat-radio-button value="10"></mat-radio-button>
                        </div>
                    </div>
                </mat-radio-group>
                <mat-radio-group aria-label="Select an option">
                    <div class="lines">
                        <div class="col-0-height">
                            <mat-radio-button value="11"></mat-radio-button>
                        </div>
                    </div>
                </mat-radio-group>
                <mat-radio-group aria-label="Select an option">
                    <div class="lines">
                        <div class="col-0-height">
                            <mat-radio-button value="12"></mat-radio-button>
                        </div>
                    </div>
                </mat-radio-group>
                <mat-radio-group aria-label="Select an option">
                    <div class="lines">
                        <div class="col-0-height">
                            <mat-radio-button value="13"></mat-radio-button>
                        </div>
                    </div>
                </mat-radio-group>
                <mat-radio-group aria-label="Select an option">
                    <div class="lines">
                        <div class="col-0-height">
                            <mat-radio-button value="14"></mat-radio-button>
                        </div>
                    </div>
                </mat-radio-group>
                <mat-radio-group aria-label="Select an option">
                    <div class="lines">
                        <div class="col-0-height">
                            <mat-radio-button value="15"></mat-radio-button>
                        </div>
                    </div>
                </mat-radio-group>

            </div>
        </div>
    </div>

    <div class="bottom-btn">
        <button mat-button matStepperPrevious class="btn">Voltar</button>
        <button mat-button matStepperNext class="btn">Proximo</button>
    </div>

</form>