<!-- Área: Desenvolvimento Social -->

<section class="example-section" [formGroup]="formulario_aspectos">

    <div class="content-area">
      <div class="contents-aspectos" formGroupName="DS1">
        <mat-checkbox class="example-margin" formControlName="aspecto5">
          {{formulario_aspectos.get('DS1.nome')?.value}}</mat-checkbox>
        <mat-form-field class="example-full-width" appearance="fill"
          *ngIf="formulario_aspectos.get('DS1.aspecto5')?.value">
          <mat-label>Descrição:</mat-label>
          <textarea matInput formControlName="descricao"></textarea>
        </mat-form-field>
      </div>

      <div class="contents-aspectos" formGroupName="DS2">
        <mat-checkbox class="example-margin" formControlName="aspecto6">
          {{formulario_aspectos.get('DS2.nome')?.value}}</mat-checkbox>
        <mat-form-field class="example-full-width" appearance="fill"
          *ngIf="formulario_aspectos.get('DS2.aspecto6')?.value">
          <mat-label>Descrição:</mat-label>
          <textarea matInput formControlName="descricao"></textarea>
        </mat-form-field>
      </div>

      <div class="contents-aspectos" formGroupName="DS3">
        <mat-checkbox class="example-margin" formControlName="aspecto7">
          {{formulario_aspectos.get('DS3.nome')?.value}}</mat-checkbox>
        <mat-form-field class="example-full-width" appearance="fill"
          *ngIf="formulario_aspectos.get('DS3.aspecto7')?.value">
          <mat-label>Descrição:</mat-label>
          <textarea matInput formControlName="descricao"></textarea>
        </mat-form-field>
      </div>

      <div class="contents-aspectos" formGroupName="DS4">
        <mat-checkbox class="example-margin" formControlName="aspecto8">
          {{formulario_aspectos.get('DS4.nome')?.value}}</mat-checkbox>
        <mat-form-field class="example-full-width" appearance="fill"
          *ngIf="formulario_aspectos.get('DS4.aspecto8')?.value">
          <mat-label>Descrição:</mat-label>
          <textarea matInput formControlName="descricao"></textarea>
        </mat-form-field>
      </div>

      <div class="contents-aspectos" formGroupName="DS5">
        <mat-checkbox class="example-margin" formControlName="aspecto9">
          {{formulario_aspectos.get('DS5.nome')?.value}}</mat-checkbox>
        <mat-form-field class="example-full-width" appearance="fill"
          *ngIf="formulario_aspectos.get('DS5.aspecto9')?.value">
          <mat-label>Descrição:</mat-label>
          <textarea matInput formControlName="descricao"></textarea>
        </mat-form-field>
      </div>

      <div class="contents-aspectos" formGroupName="DS6">
        <mat-checkbox class="example-margin" formControlName="aspecto10">
          {{formulario_aspectos.get('DS6.nome')?.value}}</mat-checkbox>
        <mat-form-field class="example-full-width" appearance="fill"
          *ngIf="formulario_aspectos.get('DS6.aspecto10')?.value">
          <mat-label>Descrição:</mat-label>
          <textarea matInput formControlName="descricao"></textarea>
        </mat-form-field>
      </div>

      <div class="contents-aspectos" formGroupName="DS7">
        <mat-checkbox class="example-margin" formControlName="aspecto11">
          {{formulario_aspectos.get('DS7.nome')?.value}}</mat-checkbox>
        <mat-form-field class="example-full-width" appearance="fill"
          *ngIf="formulario_aspectos.get('DS7.aspecto11')?.value">
          <mat-label>Descrição:</mat-label>
          <textarea matInput formControlName="descricao"></textarea>
        </mat-form-field>
      </div>

      <div class="contents-aspectos" formGroupName="DS8">
        <mat-checkbox class="example-margin" formControlName="aspecto12">
          {{formulario_aspectos.get('DS8.nome')?.value}}</mat-checkbox>
        <mat-form-field class="example-full-width" appearance="fill"
          *ngIf="formulario_aspectos.get('DS8.aspecto12')?.value">
          <mat-label>Descrição:</mat-label>
          <textarea matInput formControlName="descricao"></textarea>
        </mat-form-field>
      </div>

      <div class="contents-aspectos" formGroupName="DS9">
        <mat-checkbox class="example-margin" formControlName="aspecto13">
          {{formulario_aspectos.get('DS9.nome')?.value}}</mat-checkbox>
        <mat-form-field class="example-full-width" appearance="fill"
          *ngIf="formulario_aspectos.get('DS9.aspecto13')?.value">
          <mat-label>Descrição:</mat-label>
          <textarea matInput formControlName="descricao"></textarea>
        </mat-form-field>
      </div>

      <div class="contents-aspectos" formGroupName="DS10">
        <mat-checkbox class="example-margin" formControlName="aspecto14">
          {{formulario_aspectos.get('DS10.nome')?.value}}</mat-checkbox>
        <mat-form-field class="example-full-width" appearance="fill"
          *ngIf="formulario_aspectos.get('DS10.aspecto14')?.value">
          <mat-label>Descrição:</mat-label>
          <textarea matInput formControlName="descricao"></textarea>
        </mat-form-field>
      </div>

      <div class="contents-aspectos" formGroupName="DS11">
        <mat-checkbox class="example-margin" formControlName="aspecto15">
          {{formulario_aspectos.get('DS11.nome')?.value}}</mat-checkbox>
        <mat-form-field class="example-full-width" appearance="fill"
          *ngIf="formulario_aspectos.get('DS11.aspecto15')?.value">
          <mat-label>Descrição:</mat-label>
          <textarea matInput formControlName="descricao"></textarea>
        </mat-form-field>
      </div>
    </div>
  </section>